<h3>{{ _('Slicer Thumbnails') }}</h3>
<div class="control-group">
	<div class="controls">
		<label class="checkbox">
		<input type="checkbox" data-bind="checked: settings.plugins.prusaslicerthumbnails.state_panel_thumbnail"> Show thumbnail in state panel.
		</label>
	</div>
	<div class="controls">
		<span class="input-append">
			<input type="number" step="any" min="0" max="100" class="input-mini text-right" data-bind="enable:settings.plugins.prusaslicerthumbnails.state_panel_thumbnail() == true, value: settings.plugins.prusaslicerthumbnails.state_panel_thumbnail_scale_value">
			<span class="add-on">%</span>
		</span>
	</div>
	<div class="controls">
		<label class="checkbox">
		<input type="checkbox" data-bind="enable:settings.plugins.prusaslicerthumbnails.state_panel_thumbnail() == true, checked: settings.plugins.prusaslicerthumbnails.relocate_progress"> Relocate progress bar above thumbnail (requires browser refresh).
		</label>
	</div>
	<div class="controls">
		<label class="checkbox">
		<input type="checkbox" data-bind="checked: settings.plugins.prusaslicerthumbnails.inline_thumbnail"> Use inline thumbnails.
		</label>
	</div>
	<div class="controls">
		<label class="checkbox">
		<input type="checkbox" data-bind="enable:settings.plugins.prusaslicerthumbnails.inline_thumbnail, checked: settings.plugins.prusaslicerthumbnails.scale_inline_thumbnail"> Scale image.
		</label>
	</div>
	<div class="controls">
		<span class="input-append">
			<input type="number" step="any" min="0" max="100" class="input-mini text-right" data-bind="enable:settings.plugins.prusaslicerthumbnails.inline_thumbnail() == true && settings.plugins.prusaslicerthumbnails.scale_inline_thumbnail() == true, value: settings.plugins.prusaslicerthumbnails.inline_thumbnail_scale_value">
			<span class="add-on">%</span>
		</span>
	</div>
	<div class="controls">
		<label class="checkbox">
		<input type="checkbox" data-bind="enable:settings.plugins.prusaslicerthumbnails.inline_thumbnail, checked: settings.plugins.prusaslicerthumbnails.inline_thumbnail_position_left"> Position inline image to the left.
		</label>
	</div>
	<div class="controls">
		<label class="checkbox">
		<input type="checkbox" data-bind="enable:settings.plugins.prusaslicerthumbnails.inline_thumbnail, checked: settings.plugins.prusaslicerthumbnails.align_inline_thumbnail"> Align image.
		</label>
	</div>
	<div class="controls">
		<select class="input-small" style="width: 101px;" data-bind="enable:settings.plugins.prusaslicerthumbnails.inline_thumbnail() == true && settings.plugins.prusaslicerthumbnails.align_inline_thumbnail() == true, value: settings.plugins.prusaslicerthumbnails.inline_thumbnail_align_value">
			<option value="left">Left</option>
			<option value="center">Center</option>
			<option value="right">Right</option>
		</select>
	</div>
	<div class="controls">
		<label class="checkbox">
		<input type="checkbox" data-bind="checked: settings.plugins.prusaslicerthumbnails.resize_filelist"> Set file list height.
		</label>
	</div>
	<div class="controls">
		<span class="input-append">
			<input type="number" step="any" min="0" class="input-mini text-right" data-bind="enable: settings.plugins.prusaslicerthumbnails.resize_filelist() == true, value: settings.plugins.prusaslicerthumbnails.filelist_height">
			<span class="add-on">px</span>
		</span>
	</div>
	<div class="controls">
		<label class="checkbox">
		<input type="checkbox" data-bind="checked: settings.plugins.prusaslicerthumbnails.sync_on_refresh"> Rescan all files when pressing refresh in file list.
		</label>
	</div>
	<div class="controls">
		<label class="checkbox">
		<input type="checkbox" data-bind="checked: settings.plugins.prusaslicerthumbnails.use_uploads_folder"> Extract images into uploads folder.
		</label>
	</div>
</div>
<div class="row-fluid" data-bind="allowBindings: false">
	<div class="row-fluid" data-bind="allowBindings: true">
		<div id="crawl_files" class="control-group">
			<div class="controls">
				<button class="btn btn-primary" data-bind="click: crawl_files, enable: !crawling_files()"><i class="fa fa-spinner fa-spin" data-bind="visible: crawling_files" style="display: none;"></i> Scan Files</button>
			</div>
		</div>
		<div id="crawl_files_results" class="row-fluid" data-bind="if: crawl_results().length > 0">
			<div class="alert alert-block">
				<h4>Scan Results</h4>
				<ul class="unstyled" data-bind="foreach: { data: crawl_results, as: 'category', noChildContext: true }">
					<!-- ko if:category.files().length == 0 -->
					<li><span data-bind="text: category.name" class="label label-success"></span></li>
					<!-- /ko -->
					<!-- ko if:category.files().length > 0 -->
					<li><span data-bind="text: category.name, css: {'label-warning': category.name() == 'no_thumbnail', 'label-success': category.name() == 'no_thumbnail_src'}" class="label"></span>
						<ul data-bind="foreach: { data: category.files, as: 'item', noChildContext: true }">
							<li>
								<span data-bind="text: item"></span>
							</li>
						</ul>
					</li>
					<!-- /ko -->
				</ul>
			</div>
		</div>
	</div>
</div>
