<div id="prusa_thumbnail_viewer" class="modal hide fade">
	<div class="modal-header">
		<a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
		<h3 data-bind="text: thumbnail_title()"></h3>
	</div>
	<div class="modal-body">
		<img data-bind="attr: {src: thumbnail_url()}" width="100%"/>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">{{ _('Close') }}</a>
	</div>
</div>