/* #prusa_thumbnail_viewer {
	width: 330px;
	margin-left: -165px;
} */

#prusa_thumbnail_viewer h3 {
	overflow: hidden;
}

#files .gcode_files .entry {
	overflow: hidden;
}

#files .gcode_files .entry img, #prusaslicer_state_thumbnail img {
	width: auto;
}

.inline_prusa_thumbnail.pull-left, #prusaslicer_state_thumbnail.pull-left {
	padding-right: 5px;
}

#prusaslicer_state_thumbnail.pull-left img {
	width: 100%;
}
